// COMMONS ROULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

// UTILITIES
// background and color
.bg-mare {
    background-color: $Bg-mare;
}

.text_ligth {
    color: $C-light;
}

.text_dark {
    color: $C-dark;
}

.text-mare {
    color: $C-mare;
}

.text-s-grey {
    color: $C-s-grey;
}

.text-xs-grey {
    color: $C-xs-grey;
}

.active {
    color: $C-mare !important;
}

//size
.size-10 {
    font-size: $Size-10;
}

.size-11 {
    font-size: $Size-11;
}

.size-12 {
    font-size: $Size-12;
}

.size-13 {
    font-size: $Size-13;
}

.size-14 {
    font-size: $Size-14;
}

.size-16 {
    font-size: $Size-16;
}

//font-weigth
.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

// margin
.margin-inherit {
    margin: inherit;
}

// HEADER
.logo_menu {
    img {
        width: 120px;
        padding: 50px 0;
    }
}

.navbar_menu {
    a:hover {
        color: $C-mare !important;
    }
}

// MAIN
.containerCardPost {
    position: absolute;
    bottom: 15px;
    left: 20px;
    .bannerCardPost {
        background-color: $Bg-mare;
        color: $C-light;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        width: fit-content;
        padding: 3px;
        margin-bottom: 5px;
    }
    .textCardPost {
        color: $C-light;
        font-weight: bold;
        margin-bottom: 0;
    }
}

//cardPost
#cardPost {
    background-color: $Bg-xs-grey;
    padding: 30px 0 30px;
    .row {
        .card {
            width: calc(100% / 3 - 20px);
            margin: 10px;
            padding: 0;
            border: 0;
        }
    }
}

// miniCards
#miniCards {
    padding: 30px 0 30px;
    li {
        img {
            height: 55px;
            margin-bottom: 15px;
        }
    }
    .featuredActor {
        img {
            height: 80px;
            margin-bottom: 15px;
        }
    }
}

// barrCategory
.categoryCard {
    background-color: $Bg-dark-light;
    width: fit-content;
    padding: 10px 40px;
    a {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

#barraNav {
    a {
        color: black;
    }
}

// postsShare
#postShare {
    padding: 30px 0 30px;
    .card {
        img {
            height: 250px;
            object-fit: cover;
        }
        p {
            font-size: 14px;
            color: $C-xs-grey;
        }
        .calendary {
            .day {
                background-color: $Bg-s-grey;
                padding: 12px;
            }
            .month {
                background-color: $Bg-dark;
                color: $C-light;
                font-size: 7px;
                font-weight: bold;
                padding: 2px;
                display: flex;
                justify-content: center;
            }
        }
        .tagPost {
            margin-bottom: 15px;
            .tag {
                a {
                    color: $C-mare;
                }
            }
            .more {
                padding: 0 5px;
                a {
                    color: $C-xs-grey;
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .textSocial {
        text-transform: uppercase;
        font-size: 12px !important;
        font-weight: bold;
    }
    .tags {
        a {
            font-size: 9px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $Bg-dark;
            color: $C-light;
            padding: 5px;
            border-radius: 15px;
        }
    }
    .facebook {
        a {
            color: $C-mare;
            font-size: 12px;
            padding: 15px;
        }
    }
    .instagram {
        img {
            width: calc(100% / 3);
        }
    }
}

// FOOTER
.special_padding {
    padding: 50px 0 100px;
}

#footer {
    background-color: $Bg-dark-light;
    li {
        img {
            border-radius: 50%;
            height: 55px;
            margin-bottom: 15px;
        }
    }
    .categories {
        background-color: $Bg-dark;
        color: $C-light;
        padding: 5px 10px;
        margin: 5px 5px 5px 0px;
        border-radius: 5px;
        width: fit-content;
        a {
            color: $C-light;
            font-weight: 600;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}

#info_footer {
    background-color: $Bg-xxl-grey;
    position: relative;
    img {
        width: 100px;
        padding: 50px 20px 50px 0px;
        margin-right: 20px;
        filter: brightness(0.3);
    }
    .flex-grow-4 {
        flex-grow: 4;
    }
    p {
        color: $C-s-grey;
        margin-bottom: 0;
        a {
            color: $C-s-grey;
        }
    }
    .btnToUp {
        background-color: $Bg-xl-grey;
        padding: 10px 20px;
        width: fit-content;
        position: absolute;
        bottom: 0;
        right: 10px;
        a {
            color: $C-light;
        }
    }
}

// sass di Bootstrap
@import "~/node_modules/bootstrap/scss/bootstrap.scss";
// Variables
@import "@/assets/scss/partials/variables.scss";