// COMMONS ROULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

// UTILITIES
.bg-mare {
    background-color: $Bg-mare;
}

.text_ligth {
    color: $C-light;
}

.text_dark {
    color: $C-dark;
}

.text-mare {
    color: $C-mare;
}

.text-s-grey {
    color: $C-s-grey;
}

.text-xs-grey {
    color: $C-xs-grey;
}

.active {
    color: $C-mare !important;
}

//size
.size-10 {
    font-size: $Size-10;
}

.size-11 {
    font-size: $Size-11;
}

.size-12 {
    font-size: $Size-12;
}

.size-14 {
    font-size: $Size-14;
}

//font-weigth
.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

// HEADER
.logo_menu {
    img {
        width: 120px;
        padding: 50px 0;
    }
}

.navbar_menu {
    a:hover {
        color: $C-mare !important;
    }
}

// MAIN
// FOOTER
.special_padding {
    padding: 50px 0 100px;
}

#footer {
    background-color: $Bg-dark-light;
    li {
        img {
            border-radius: 50%;
            height: 55px;
            margin-bottom: 15px;
        }
    }
    .categories {
        background-color: $Bg-dark;
        color: $C-light;
        padding: 5px 10px;
        margin: 5px 5px 5px 0px;
        border-radius: 5px;
        width: fit-content;
        a {
            color: $C-light;
            font-weight: 600;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}

#info_footer {
    background-color: $Bg-xxl-grey;
    img {
        width: 100px;
        padding: 50px 20px 50px 0px;
        filter: grayscale(1);
    }
    .flex-grow-4 {
        flex-grow: 4;
    }
    p {
        color: $C-s-grey;
        margin-bottom: 0;
        a {
            color: $C-s-grey;
        }
    }
}

// sass di Bootstrap
@import "~/node_modules/bootstrap/scss/bootstrap.scss";
// Variables
@import "@/assets/scss/partials/variables.scss";