// Desktop colors:
$Bg-ligth: #FFFFFF;
$Bg-mare: #0088CC;
$Bg-blu-mare: #0074AD;
$Bg-xs-grey: #F7F7F7;
$Bg-s-grey: #D6D6D6;
$Bg-dm-grey: #CCCCCC;
$Bg-lg-grey: #17171740;
$Bg-xl-grey: #404040;
$Bg-xxl-grey: #1C2023;
$Bg-dark-light: #212529;
$Bg-dark: #000000;
// Text colors:
$C-light: #FFFFFF;
$C-xs-grey: #B7B7B7;
$C-s-grey: #888888;
$C-dm-grey: #777777;
$C-lg-grey: #555555;
$C-xl-grey: #444444;
$C-xxl-grey: #333333;
$C-dark-grey: #212529;
$C-dark: #000000;
$C-mare: #0088CC;
// Text sizes:
$Size-10: 10px;
$Size-11: 11px;
$Size-12: 12px;
$Size-13: 13px;
$Size-14: 14px;
$Size-15: 15px;
$Size-16: 16px;