// Desktop colors:
$Bg-ligth: #FFFFFF;
$Bg-dark: #000000;
$Bg-mare: #0088CC;
$Bg-blu-mare: #0074AD;
$Bg-footer: #212529;
$Bg-info_footer: #1C2023;
// Text colors:
$C-light: #FFFFFF;
$C-xs-grey: #B7B7B7;
$C-s-grey: #888888;
$C-dm-grey: #777777;
$C-lg-grey: #555555;
$C-xl-grey: #444444;
$C-xxl-grey: #333333;
$C-dark-grey: #212529;
$C-dark: #000000;
$C-mare: #0088CC;
// Text sizes:
$Size-12: 12px;
$Size-14: 14px;